<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Simple markers</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>

    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>

  </head>
  <body>
    <div id="map"></div>
    <script>

      function initMap() {

        var coordinates = "{{coord}}";
        var radius = {{radius}};

        $.get('/signs/retrieveSigns/' + coordinates + '/' + radius).then(function(data){
              //this data is what you want to use at js.
              console.log(data);

              var centerLatLong = coordinates.split(',').map(parseFloat);
              var mapCenter = {lat: centerLatLong[0], lng: centerLatLong[1]};

              var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 15,
                center: mapCenter
              });

                var marker = new google.maps.Marker({
                  position: mapCenter,
                  map: map,
                  title: "Vehicle Position"
                });

              var i;
              for (i = 0; i < data.length; i++) {
                var marker_coord = data[i]["coordinates"]
                var marker_name = data[i]["_id"]

                var marker = new google.maps.Marker({
                  position: {lat: marker_coord[1], lng: marker_coord[0]},
                  icon: "https://chart.googleapis.com/chart?chst=d_bubble_text_small&chld=bb|" + marker_name + "|C6EF8C|000000",
                  map: map,
                  title: marker_name
                });

              }

          });

      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBWVdaGu95r2BZZ0on1KUlp-dhIoJ1BJyM&callback=initMap">
    </script>
  </body>
</html>